{% extends "base.html" %}
{% block title %}Смена пароля{% endblock %}

{% block content %}
<div class="card shadow-sm">
  <div class="card-body p-4">
    <h1 class="h4 mb-3">Смена пароля</h1>

    <form method="post" class="d-grid gap-3">
      {% csrf_token %}

      {% for field in form %}
        <div>
          <label class="form-label">{{ field.label }}</label>
          {{ field }}
          <div class="text-danger small">{{ field.errors }}</div>
        </div>
      {% endfor %}

      <button class="btn btn-primary">Обновить пароль</button>
    </form>

    <hr class="my-4">
    <a href="{% url 'profile' %}">← Назад в профиль</a>
  </div>
</div>
{% endblock %}
